.container{
    margin: 1vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tableCarContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  justify-content: center;
    
}