.linktag{
    text-decoration: none;
    color: none;
}

.card-container{
    width: 40vw;
    height: 30vh;
    margin: 2vw;
    background-color: #f3f3f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 0.1px solid black; */
    border-radius: 1vw;
    transition: all 0.2s;
}

.card-container:hover{
 border:0.1vw solid;
    border-color: tomato;
    transform: scale(1.02);
 box-shadow: 0 0 50px rgba(33,33,33,.2);


}

.heading{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5vh;
    color: rgba(0,0,0,0.850);
    margin: 1vw;
    margin-top: 1vw;
}

.descriptions{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3vh;
    font-weight: 300;
    color: rgba(0,0,0,0.850);
    margin: 1vw;
    margin-top: 2vw;
}
